
<%= render 'layouts/searchbar' %>



<div id="project-by-category">

  <!--
  <span>Filter by Category:

  </span>

  <ul class="radio-nav">
    <li class="active">
      <a href="#" class="toggle`">All</a>
    </li>
    <li><a href="#" class="toggle">Engineering</a></li>
    <li><a href="#" class="toggle">Science</a></li>
  </ul>

//-->





  <h4>Browse Project</h4>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">All</a>
    </li>

    <% Project.categories.each do |cat| %>
        <li><%= link_to cat, cat_path(cat), :remote=> true %></li>
    <% end %>

  </ul>

  <div class="project-div">
    <% @projects.each do |project| %>
        <div class="project-box">
          <div class="project-image-box">
            <img src="http://png.findicons.com/files/icons/1035/human_o2/128/orange_folder.png" />
          </div>

          <div>
            <%= project.name %>
          </div>
          <div class="project-description">
            <%= project.category.capitalize %>
            <%= project.description %>
          </div>

          <div class="project-action-panel">
            <i class="icon-eye-open"></i>         <%= link_to 'View Profile', project.profile %>

            <i class="icon-user"></i><%= link_to 'Edit', edit_project_path(project) %>
            <i class="icon-pencil"></i>   <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <i class="icon-trash"></i>

          </div>
        </div>
    <% end %>
  </div>


</div>
