<div id="project-by-category">
  <h4>Browse Project</h4>


  <ul class="nav nav-pills project-tab">
    <li class="<%= 'active' if category_selected?('all') %>"><%= link_to 'All', projects_path %></li>
    <% Project.categories.each do |cat| %>
        <li class="<%= 'active' if category_selected?(cat) %>"><%= link_to cat, cat_path(cat), :remote => true %></li>
    <% end %>
  </ul>

  <div class="project-div">
    <ul>
    <% @projects.each do |project| %>
      <%= render partial: 'projects/display', locals: {project: project} %>
    <% end %>

    </ul>
  </div>
</div>
