<div id="landing">
  <div class="hero-unit" id="banner">
    <h1>projectore</h1>
    <p>What's on your mind?</p>
    <p>
      <%= link_to 'Learn more', about_path, class: 'btn btn-primary btn-large' %>
    </p>
  </div>

  <div class="hero-unit" id="about1">
    <div class="row-fluid">
      <div class="container">
	      <div class="span6 image">
		      <%= image_tag 'landing/laptop.png' %>
		    </div>
        <div class="span5 offset1 content">
          <h2>Discover New Projects</h2>
          <p>Projectore is an online social platform that offers like minded people the opportunity to come together and collaborate on projects.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-unit" id="about2">
    <div class="row-fluid">
      <div class="container">
        <div class="span5 content">
          <h2>Discover New Projects</h2>
          <p>Projectore is an online social platform that offers like minded people the opportunity to come together and collaborate on projects.</p>
        </div>
        <div class="span6 offset1 image">
          <%= image_tag 'bkg/bannerpic.png' %>
        </div>
      </div>
    </div>
  </div>

    <div class="hero-unit" id="about1">
    <div class="row-fluid">
      <div class="container">
        <div class="span6 image">
          <%= image_tag 'landing/laptop.png' %>
        </div>
        <div class="span5 offset1 content">
          <h2>Discover New Projects</h2>
          <p>Projectore is an online social platform that offers like minded people the opportunity to come together and collaborate on projects.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-unit" id="about2">
    <div class="row-fluid">
      <div class="container">
        <div class="span5 content">
          <h2>Discover New Projects</h2>
          <p>Projectore is an online social platform that offers like minded people the opportunity to come together and collaborate on projects.</p>
        </div>
        <div class="span6 offset1 image">
          <%= image_tag 'bkg/bannerpic.png' %>
        </div>
      </div>
    </div>
  </div>

	<div class="hero-unit" id="signup">
		<div class="row-fluid">
      <div class="container">
    	  <div class="span8 offset2" style="text-align:center;">
    			<h2>We will notify you for the beta!</h2>
    	    <%= form_for(@beta_user, method: :post, remote: true, class: 'form-inline') do |f| %>
    	      <%= f.text_field :email, placeholder:  'Your email' %>
    	      <%= f.submit '' %>
    	    <% end %>
        </div>
      </div>
	  </div>
  </div>

  <div class="hero-unit" id="footer">
    <div class="row-fluid" >
  	  <div class="container">
    	  <div class="span8 offset2" style="text-align:center;">
    			<h2>projectore is</h2>
    			<span id="powered">powered by </span>
    			<a href='http://heroku.com/'><%= image_tag('landing/heroku.png') %></a>
    			<a href='http://aws.amazon.com/'><%= image_tag('landing/amazon.png') %></a>     
        </div>
      </div>
  	</div>
  </div>
</div>

<script>
$(function(){
	$('#beta_user_email').on('keyup',function(){
    if (!/^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i.test(this.value)) {
		  alert('bad');
	  }
	});
});
</script>
