<div id="landing">
  <div class="hero-unit" id="banner">
		<div class="container">
	    <h1>With <span class="brand">projectore</span></h1>
	    <h1>you can <span id="flip">collaborate</span></h1>
	    <p>
	      <%= link_to 'Learn more', about_path, class: 'btn btn-primary btn-large' %>
	    </p>
	  </div>
  </div>

  <div class="hero-unit" id="about1">
    <div class="row-fluid">
      <div class="container">
	      <div class="span6 image">
		      <%= image_tag 'landing/macbook.png' %>
		    </div>
        <div class="span5 offset1 content">
          <h2>Discover New Projects</h2>
          <p>You can discover new projects base on your desired location and interest. Whether you want to collaborate on them it is up to you!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-unit" id="about2">
    <div class="row-fluid">
      <div class="container">
        <div class="span5 content">
          <h2>Post Your Projects</h2>
          <p>By posting your projects on Projectore, you can show case your idea and find awesome collaboraters to help bringing your idea to life!</p>
        </div>
        <div class="span6 offset1 image">
          <%= image_tag 'landing/imac.png' %>
        </div>
      </div>
    </div>
  </div>

    <div class="hero-unit" id="about1">
    <div class="row-fluid">
      <div class="container">
        <div class="span6 image">
          <%= image_tag 'landing/ipad.png' %>
        </div>
        <div class="span5 offset1 content">
          <h2>Find Your Collaborators</h2>
          <p>You can have you own personalized profile and browse other users' profiles to determine if they are the right fit for your project!</p>
        </div>
      </div>
    </div>
  </div>

	<div class="hero-unit" id="signup">
		<div class="row-fluid">
      <div class="container">
    	  <div class="span8 offset2" style="text-align:center;">
    			<h2>We will notify you for the beta!</h2>
    	    <%= form_for(@beta_user, method: :post, remote: true, class: 'form-inline') do |f| %>
    	      <%= f.text_field :email, placeholder:  'Your email' %>
    	      <%= f.submit '' %>
    	    <% end %>
          <h4 id="email_notice"></h4>
        </div>
      </div>
	  </div>
  </div>

  <div class="hero-unit" id="footer">
    <div class="row-fluid" >
  	  <div class="container">
    	  <div class="span8 offset2" style="text-align:center;">
    			<div><span class="brand">projectore</span> is</div>
    			powered by 
    			<a href='http://heroku.com/'><%= image_tag('landing/heroku.png') %></a>
    			<a href='http://aws.amazon.com/'><%= image_tag('landing/amazon.png') %></a>     
        </div>
      </div>
  	</div>
  </div>
</div>

<script>
$(function(){


  function init_flip() {
	  var cans = ['create','discover','collaborate'];
	  var can_colors = ['red','blue','green'];
	  var call = 0;
		$('#flip').css('color',can_colors[call]).html(cans[call]);		  
	
	  function flip_it() {
		  $('#flip').animate({
        opacity:"toggle"
      },1000,function(){
			  call+=1;
			  call%=3;
				$('#flip').css('color',can_colors[call]).html(cans[call]);		  
			  $(this).fadeIn(1000,function(){
				  flip_it();		
			  });
		  });	  
	  }
	  flip_it();
  }
	
	init_flip();
		
	var email_regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	
  var $email_field = $('#beta_user_email');
	
	$.fn.email_validate = function() {
		var val = this.val();
		if (val.length==0) {
			this.css('border-color','#317eac');
		  return;
		}
    if (email_regex.test(val)) {
		  this.css('border-color','#317eac');
	  } else {
		  this.css('border-color','red');		
	  }		
	}

  $.fn.flash_border = function() {
	  var flashing = this;
	  flashing.css('border-color','red');
    flashing.animate({
		    marginRight: "5px"
		  }, 150, function() {
		    flashing.css('margin-right','0px');
		    flashing.focus();
	  });
  }
	
	$('#new_beta_user').on('submit',function(){
		var val = $email_field.val();
		$('#email_notice').html("");
    if (!email_regex.test(val)) {	
	    $email_field.flash_border();
	    return false;
	  }  
	});
	
	$email_field.on('focus', function(){
		$(this).email_validate();
	}).on('keyup',function(){
	  $(this).email_validate();
	}).on('blur',function(){
		$(this).css('border-color','white');
	});
});
</script>
