
<%= form_for(@project_profile) do |f| %>
  <% if @project_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_profile.errors.count, "error") %> prohibited this project_profile from being saved:</h2>

      <ul>
      <% @project_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Project Owner:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Eric Webster" type="text">
      </div>


    </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Project Category:
      </div>

      <div class="profile-entry-content">
        <Select>
          <option>Engineering</option>
          <option>Science</option>
          <option>Art</option>
          <option>Music</option>
        </Select>
      </div>


    </div>

  <div class="profile-entry">
    <div class="profile-entry-title">
      Description:
    </div>

    <div class="profile-entry-content">
      <input placeholder="Description..." type="text">
    </div>


  </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Mission Statement:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Mission Statement..." type="text">
      </div>


    </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Purpose:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Purpose...." type="text">
      </div>


    </div>




  <a class="btn">New Section</a>





  <div class="field">
    <%= f.label :outline_hash %><br>
    <%= f.text_field :outline_hash %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
