
<%= form_for(@project_profile) do |f| %>
  <%= render 'errors' %>

<!--
    <div class="profile-entry">
      <div class="profile-entry-title">
        Project Owner:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Eric Webster" type="text">
      </div>


    </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Project Category:
      </div>

      <div class="profile-entry-content">
        <Select>
          <option>Engineering</option>
          <option>Science</option>
          <option>Art</option>
          <option>Music</option>
        </Select>
      </div>


    </div>

  <div class="profile-entry">
    <div class="profile-entry-title">
      Description:
    </div>

    <div class="profile-entry-content">
      <input placeholder="Description..." type="text">
    </div>


  </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Mission Statement:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Mission Statement..." type="text">
      </div>


    </div>

    <div class="profile-entry">
      <div class="profile-entry-title">
        Purpose:
      </div>

      <div class="profile-entry-content">
        <input placeholder="Purpose...." type="text">
      </div>

    </div>
-->

  <div class="field">
    <%= f.label :details_hash %><br>
    <%= f.text_area :details_hash %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Profile' %>
  </div>
<% end %>
