<div class="inner-heading-div">
    <p>General Project Settings
      <%= link_to 'Edit Project Settings', edit_project_path(@project_profile.project), class: 'btn pull-right btn-inner-small' %>
    </p>

</div>

<div class="scroll-splitter"></div>





<div class="profile-entry">
  <div class="profile-entry-title">
    Project Name
  </div>

  <div class="profile-entry-content">
    <%= @project_profile.project.name %>
  </div>

</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Project Owner
  </div>

  <div class="profile-entry-content">
    <%= @project_profile.project.owner.username %>
  </div>

</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Project Category
  </div>

  <div class="profile-entry-content">
    <%= @project_profile.project.category.capitalize %>
  </div>

</div>

<div class="profile-entry">
  <div class="profile-entry-title">
    Project Description
  </div>

  <div class="profile-entry-content">
    <%= @project_profile.project.description %>
  </div>

</div>

<div class="inner-heading-div">
  <p>Custom Project Information
    <%= link_to 'Edit Details', edit_project_profile_path(@project_profile), class: 'btn pull-right btn-inner-small' %>
  </p>

</div>

<div class="scroll-splitter"></div>

<% @details.sort.map do |key,entry| %>

<div>
  <%= render partial: 'project_details_entry/entry', locals: {entry: entry} %>
</div>

<% end %>

