<%= render partial: 'errors' %>

<%= form_for(@invitation) do |f| %>
  <%= f.hidden_field :status, value: CollaborationInvitation::STATUS_ACCEPTED %>    

  <div class="actions">
    <%= f.submit 'Accept' %>
  </div>
  
<% end %>

<%= form_for(@invitation) do |f| %>
  <%= f.hidden_field :status, value: CollaborationInvitation::STATUS_DECLINED %>    

  <div class="actions">
    <%= f.submit 'Decline' %>
  </div>
  
<% end %>