<%= form_for(@collaboration_invitation) do |f| %>
  <%= f.hidden_field :status, value: 'accepted' %>    

  <div class="actions">
    <%= f.submit 'Accept' %>
  </div>
  
<% end %>

<%= form_for(@collaboration_invitation) do |f| %>
  <%= f.hidden_field :status, value: 'declined' %>    

  <div class="actions">
    <%= f.submit 'Decline' %>
  </div>
  
<% end %>