<% if @collaboration_invitation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@collaboration_invitation.errors.count, "error") %> prohibited this collaboration_invitation from being saved:</h2>

    <ul>
    <% @collaboration_invitation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@collaboration_invitation) do |f| %>
  <%= f.hidden_field :status, value: CollaborationInvitation::STATUS_ACCEPTED %>    

  <div class="actions">
    <%= f.submit 'Accept' %>
  </div>
  
<% end %>

<%= form_for(@collaboration_invitation) do |f| %>
  <%= f.hidden_field :status, value: CollaborationInvitation::STATUS_DECLINED %>    

  <div class="actions">
    <%= f.submit 'Decline' %>
  </div>
  
<% end %>