<%= form_for(@invitation) do |f| %>
  <%= render partial: 'errors' %>

  <div class="row-fluid">
    <h4>Invite me to work on</h4>
		<%= f.select(:project_id, current_user.owned_projects.collect {|p| [ p.name, p.id ] }) %>
  </div>
 
  <div class="row-fluid">
    <%= f.label :message %>
    <%= f.text_area :message %>    
  </div>
    
  <%= f.hidden_field :invited_user_id %>
  
  <div class="actions">
    <%= f.submit 'Invite', class: 'btn' %>
  </div>
<% end %>
