<%= form_for(@collaboration_invitation) do |f| %>
  <% if @collaboration_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collaboration_invitation.errors.count, "error") %> prohibited this collaboration_invitation from being saved:</h2>

      <ul>
      <% @collaboration_invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select(:project_id, current_user.owned_projects.collect {|p| [ p.name, p.id ] }) %>
  
  <div class="row">
    <%= f.label :message %>
    <%= f.text_area :message %>    
  </div>
    
  <%= f.hidden_field :invited_user_id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
