<h1>Listing collaboration_invitations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Status</th>
      <th>Invited By</th>
      <th></th>
      <th></th>      
    </tr>
  </thead>

  <tbody>
    <% @collaboration_invitations.each do |collaboration_invitation| %>
      <tr>
        <td><%= collaboration_invitation.invited_user.username %></td>
        <td><%= collaboration_invitation.project.name %></td>
        <td><%= collaboration_invitation.status %></td>
        <td><%= collaboration_invitation.invited_by_user.username %></td>
        <td><%= link_to 'Show', collaboration_invitation %></td>
        <td><%= link_to 'Destroy', collaboration_invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
