<div class="well well-small">
	<div style="text-align:center;">
		<h4>Invitation to <%= link_to @invitation.project.name, @invitation.project %></h4>
	</div>
	
<p>
  <strong>Invited by:</strong>
  <%= @invitation.invited_by_user.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invitation.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @invitation.message %>
</p>

<%= render partial: 'decide' %>
</div>
<%= link_to 'Back', :back %>

