<%= form_for(@comment) do |f| %>
  <%= render 'errors' %>

  <div class="comment-div">


    <div class="comment-input">
      <%= f.text_area :content %>
    </div>

    <div class="comment-avatar">
      <img src="http://www.thegoodblog.com.au/assets/avatar-placeholder-64x59.png" /><br>
      <%= f.submit 'Comment', class: 'btn' %>
    </div>
  </div>


  <div class="field">
    <%= f.hidden_field :project_id %>
  </div>

<% end %>

