<%= form_for(@comment) do |f| %>
  <%= render 'errors' %>

  <img src="http://mediacdn.disqus.com/1379448753/images/noavatar92.png" />

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.hidden_field :project_id %>
  </div>

  <div class="actions">
    <%= f.submit 'Post Comment', class: 'btn' %>
  </div>
<% end %>

