<% if user_signed_in? %>
<%= form_for(@comment) do |f| %>
  <%= render 'errors' %>
  <%= f.text_area :content %>
  <%= avatar_tag(current_user, type: 'thumb', class: 'avatar-thumb') %>
  <%= current_user.username %><br>
  <%= f.submit 'Comment', class: 'btn' %>
  <div>
    <%= f.hidden_field :project_id %>
  </div>
<% end %>
<% end %>


