<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @comment.project.name %>
</p>

<p>
  <strong>Plus:</strong>
  <%= @comment.plus %>
</p>

<p>
  <strong>Minus:</strong>
  <%= @comment.minus %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', project_comments_path(@comment.project) %>
