<h1>Listing tasks</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Posted by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.details %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.poster.username %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_group_task_path %> | 
<%= link_to 'Back to task group', @task_group %>

