<div class="well box">

<% if section == :experience %>
	<%= render partial: 'resume_entries/experience_entry', locals: {entry: entry, key: key} %>
<% elsif section == :education %>
	<%= render partial: 'resume_entries/education_entry', locals: {entry: entry, key: key} %>
<% elsif section == :skills %>
	<%= render partial: 'resume_entries/skills_entry', locals: {entry: entry, key: key} %>
<% end %>

	<%= form_tag(edit_resume_entry_path, method: :get) do %>
	  <%= hidden_field_tag :key, key %>
	  <%= hidden_field_tag :section, section %>
	  <%= submit_tag 'Edit', :class=>'btn orange pull-right' %>
	<% end %>

</div>
