<div class="field">
  <%= label_tag :title, 'Title', style: 'display: block' %>
  <%= text_field_tag "entry[title]", entry[:title] %>
</div>

<div class="field">
  <%= label_tag :location, 'Location', style: 'display: block' %>
  <%= text_field_tag "entry[location]", entry[:location] %>
</div>

<div class="field">
  <%= label_tag :description, 'Description', style: 'display: block' %>
  <%= text_area_tag "entry[description]", entry[:description], class: 'input-xxlarge' %>
</div>

<div class="field">
  <%= label_tag :start_date %>
  <%= date_select "entry[start_date]", '', default: DateTime.strptime(@entry[:start_date],'%Y,%m,%d') %>
</div>

<div class="field">
  <%= label_tag :end_date %>
  <%= date_select "entry[end_date]", '', default: DateTime.strptime(@entry[:end_date],'%Y,%m,%d') %>
</div>