<div class="well well-small box">

<%= render 'user_profiles/errors' %>

<%= form_tag(resume_entry_path, method: :patch, :class => 'form-inline') do %>

  <%= render partial: "resume_entries/#{section}_fields", locals: {entry: entry, key: key} %>

  <%= hidden_field_tag :section, section %>
  <%= hidden_field_tag :key, key %>
		
  <%= submit_tag 'Save', class: 'btn' %>
<% end %>



</div>

<%= form_tag(resume_entry_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'form-inline') do |f| %>
    <%= hidden_field_tag :key, key %>
    <%= hidden_field_tag :section, section %>
    <%= submit_tag 'Delete Entry', class: 'btn btn-danger' %>
<% end %>


