<div class="inner-heading-div">
  <p>Editing <%= section.capitalize %>
  </p>

</div>

<div class="scroll-splitter"></div>


  <% @resume[section].sort.each do |key,entry| %>
      <%= render partial: 'resume_entries/editable_entry', locals: {entry: entry, section: section, key: key} %>
  <% end %>
  <p>

  </p>

<%= form_tag(new_resume_entry_path(@user_profile), method: :get) do %>
    <%= hidden_field_tag :section, section %>
    <%= submit_tag "New #{section.capitalize}", :class=>'btn btn-inner-small' %>
<% end %>

<div class="scroll-splitter"></div>