<table class="table table-striped table-bordered box">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_groups.each do |task_group| %>
      <tr>
        <td><%= task_group.name %></td>
        <td><%= link_to 'Show', task_group %></td>
        <td><%= link_to 'Edit', edit_task_group_path(task_group) %></td>
        <td><%= link_to 'Destroy', task_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task group', new_project_task_group_path %>
