<table class="table table-bordered taskgroup-table">


  <tbody>
  <% @task_groups.each_with_index do |task_group,index| %>
      <tr>
        <td class="taskgroup-td" colspan="8">Task Group:
        <%= render partial: 'group', object: task_group %>
        </td>
      </tr>

      <tr class="tasktable-header">
        <td></td>
        <td>Task Name</td>
        <td>Details</td>
        <td>Priority</td>
        <td>Task Status</td>
        <td>Task Poster</td>
        <td>Edit</td>
        <td>Delete</td>

      </tr>

      <% task_group.tasks.each do |task| %>
          <tr>
            <td  class="hover-td" style="text-align: center"><img src="https://cdn1.iconfinder.com/data/icons/pc_de_hamburg_icon_pack/16x16/cv.png">
            </td>
            <td class="hover-td"><%= link_to task.title, task %></td>
            <td class="hover-td"><img class="down-arrow" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/download-16.png"></td>
            <td class="hover-td"><%= task.priority %></td>
            <td class="hover-td"><%= task.status %></td>
            <td class="hover-td"><%= task.poster.username %></td>
            <td class="hover-td"><%= link_to '<img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/pen-16.png">'.html_safe, edit_task_path(task) %></td>
            <td class="hover-td"><%= link_to '<img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-16.png">'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

          <tr class="task-details-collapse">
            <td colspan="8">
              <%= task.details %>

            </td>

          </tr>
      <% end %>

  <% end %>
  </tbody>
</table>

<p>
<%= link_to 'New Task group', new_project_task_group_path, class: 'btn' %>
  <%= link_to 'New Task', new_project_task_group_path, class: 'btn' %>
</p>
