<p>
  <strong>Group:</strong>
  <%= @task_group.name %>
</p>

<%= render partial: 'tasks/form', locals: { task: @task, task_group: @task_group } %> 

<%= render partial: 'tasks/index', locals: { tasks: @task_group.tasks } %>

<%= link_to 'Edit', edit_task_group_path(@task_group) %> | 
<%= link_to 'Destroy Group', @task_group, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back to task groups', project_task_groups_path(@task_group.project) %>
