<%= form_for(@news_post) do |f| %>
  <%= render 'errors' %>

  <div class="post-left">
    <span>Title:</span><br>
    <%= f.text_field :title, class: 'input-title' %>
  </div>

    <div class="post-right">
      <span style="vertical-align: top">Content:</span><br>
      <%= f.text_area :content, class:'input-content' %>
    </div>



  <%= f.hidden_field :project_id %>    

  <div>
    <%= f.submit 'Post News', class: 'btn' %>
  </div>
<% end %>

