<h4><%= post.title %></h4>

<div>Posted by: <%= link_to_user_profile(post.user) %> | <%= post.species.capitalize %> Post
</div>

<div><%= post.content %></div>
<%= link_to 'Edit', edit_news_post_path(post), :class => "btn btn-small pull-right" %>
