<div class="news-post">
  <h4><%= post.title %></h4>
  <p>
  <%= post.content %><br>
  <b style="color:red"><%= post.species %> post</b>
  </p>
  <div>
    Posted by: <%= link_to_user_profile(post.user) %>
  </div>
  <div> 
	  <%= link_to 'Edit', edit_news_post_path(post) %> 
  </div>	
</div>