<%= render 'new' %>

<table class="table table-striped table-bordered box">
  <thead>
    <tr>
	    <th>Title</th>
      <th>Content</th>
      <th>Species</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news_posts.each do |news_post| %>
      <tr>
	      <td><%= news_post.title %></td>
        <td><%= news_post.content %></td>
        <td><%= news_post.species %></td>
        <td><%= link_to_user_profile(news_post.user) %></td>
        <td><%= link_to 'Show', news_post %></td>
        <td><%= link_to 'Edit', edit_news_post_path(news_post) %></td>
        <td><%= link_to 'Destroy', news_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
