<div class="inner-heading-div">
  <p>Editing Education

    <%= link_to 'Editing Education', edit_resume_path(@user_profile), class: 'btn pull-right btn-inner-small' %>
    <%= link_to 'New Education', edit_resume_path(@user_profile), class: 'btn pull-right btn-inner-small' %>

  </p>

</div>

<div class="scroll-splitter"></div>


<%= render partial: 'resume_entries/section', locals: {section: :education} %>
<%= render partial: 'resume_entries/section', locals: {section: :skills} %>
<%= render partial: 'resume_entries/section', locals: {section: :experience} %>


<p>
<%= link_to 'Back', resume_path(@user_profile) %>
</p>

</div>


<%= link_to 'Done Editing', resume_path(@user_profile), :class=>'btn' %>
