

<%= form_for(@user_profile) do |f| %>
  <%= render 'errors' %>

  <div class="edit-contact-card-div">
    <div class="edit-contact-card">
      <div class="field">
        <%= label_tag :name %>
        <%= text_field_tag "contact[name]", @contact[:name] %>
      </div>

      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag "contact[email]", @contact[:email] %>
      </div>

      <div class="field">
        <%= label_tag :age %>
        <%= text_field_tag "contact[age]", @contact[:age] %>
      </div>

      <div class="field">
        <%= label_tag :location %>
        <%= text_field_tag "contact[location]", @contact[:location] %>
      </div>

    </div>

  </div>

  <div class="edit-resume-div">
    <div class="edit-resume">
      <div class="field">
        <%#= f.label :resume_hash %><br>
        <%#= f.text_area :resume_hash %>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
