<%= form_for(@user_profile) do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_xml %><br>
    <%= f.text_field :card_xml %>
  </div>
  
  <div class="field">
    <%= f.label :resume_xml %><br>
    <%= f.text_field :resume_xml %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
