<h1>Listing profiles</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Card xml</th>
      <th>Resume xml</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |profile| %>
      <tr>
        <td><%= profile.card_xml %></td>
        <td><%= profile.resume_xml %></td>
        <td><%= profile.user.username %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(profile) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
