
<p>
  <strong>Card xml:</strong>
  <%= @user_profile.card_xml %>
</p>

<p>
  <strong>Resume xml:</strong>
  <%= @user_profile.resume_xml %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user.username %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
