<p>
  <fieldset>
    <legend>Username</legend>
    <div class="well well-small">
      <%= @user_profile.user.username %>
    </div>
  </fieldset>
</p>

<p>
  <%= render partial: 'contact', object: @contact %>
</p>

<p>
  <%= render partial: 'resume', object: @resume %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
