<p>
  <strong>Username:</strong>
  <%= @user_profile.user.username %>
</p>

<p>
  <strong>Contact:</strong>
  <% @contact.each do |type,info| %>
    <li><b><%= type %>:</b> <%= info %>
  <% end %>
</p>

<p>
  <strong>Resume:</strong>
  <% @resume.each do |section,entries| %>
    <p><b><%= section %>:</b>
    <% entries.sort.map do |entry,data| %>
      <ul><u><%= entry %></u>
      <% data.each do |type,info| %>
        <li><%= type %>: <%= info %></li>
      <% end %>
      </ul>
    <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
