<p id="notice"><%= notice %></p>

<p>
  <strong>Card xml:</strong>
  <%= @profile.card_xml %>
</p>

<p>
  <strong>Resume xml:</strong>
  <%= @profile.resume_xml %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.User %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
