<div class="row-fluid">
  <div class="span2">
    <img src="http://onesentencereview.com/images/avatar_placeholder_large.png?1301662607" class="img-polaroid box">
  </div>

  <div class="span8 box" id="card">
    <%= render partial: 'contact', object: @contact %>
  </div>

  <div class="span2" id="profile_side">
    <div class="well well-small box">
      <ul class="nav nav-list">
        <li><%= link_to 'Projects', user_projects_path(associated_user) %></li>
        <li><%= link_to 'Resume', resume_path(associated_user.profile) %></li>
        <li><%= link_to 'Invite me', new_user_collaboration_invitation_path(associated_user) %></li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <h2>User feed goes here</h2><br>
  <h4>Infinite scroll MTF!</h4>
  <%= image_tag("site/orange.jpg", border: 0, class: 'dock-item')  %>
</div>
