<div class="row-fluid">
  <div class="span3">
    <img src="https://learn.extension.org/assets/avatar_placeholder-b97f38769ef28ebf68b99f36e8760b7f.png" class="img-polaroid box" id="user_avatar">
    <h4><%= associated_user.username %></h4>
  </div>

  <div class="span5 box" id="card">
    <%= render partial: 'contact', object: @contact %>
  </div>

  <div class="span4">
    <div class="well well-small box">
      <ul class="nav nav-list">
        <li><%= link_to 'Projects', user_projects_path(associated_user) %></li>
        <li><%= link_to 'Resume', resume_path(associated_user.profile) %></li>
        <li><%= link_to 'Invite me', new_user_collaboration_invitation_path(associated_user) %></li>
      </ul>
    </div>
  </div>
</div>

<div class="scroll-splitter"></div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Feed</a></li>
    <li><a href="#tab2" data-toggle="tab">Endorsements</a></li>
    <li><a href="#tab2" data-toggle="tab">Projects</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
        ddd

      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>

  </div>
</div>