
<div class="project-box">
    <div class="project-image-box"><%= avatar_link(project, class: 'project-image-avatar') %></div>
    <div class="project-detail-bar">
      <strong><span class="title"><%= link_to_project_profile(project) %></span></strong><br>
      <%= avatar_link(project.owner, type: 'thumb', class: 'project-owner-avatar') %>
      <%= link_to_user_profile(project.owner) %><br>
      <span class="project-description"> <%= project.description%></span>
    </div>
    <div class="project-action-bar-splitter"></div>
    <div class="project-action-panel">
      <ul class="inline">
        <li class="project-members"> <strong><%= 1+project.collaborations.size %></strong> <br><small class="muted">Members</small> </li>
        <li class="project-subscribers"> <strong><%= project.subscriptions.size %></strong> <br><small class="muted">Subscribers</small> </li>
        <li class="project-Subscribe"> <i class="icon-tag"></i> <br><small class="muted">Subscribe</small> </li>
      </ul>
    </div>
</div>
