<li style="list-style-type: none;">

<div class="project-box">
    <div class="project-image-box"><%= avatar_link(project, class: 'project-image-avatar') %> </div>
    <div class="project-detail-bar">
      <div class="title"><%= link_to_project_profile(project) %></div>
      <%= avatar_link(project.owner, type: 'thumb', class: 'project-owner-avatar') %>
      <b><%= link_to_user_profile(project.owner) %></b>
      <div class="project-description"> <%= project.description%></div>
    </div>
    <div class="project-action-bar-splitter"></div>
    <div class="project-action-panel">
      <ul class="inline">
        <li class="project-members"> <strong>5</strong> <br><small class="muted">Members</small> </li>
        <li class="project-subscribers"> <strong>50</strong> <br><small class="muted">Subscribers</small> </li>
        <li class="project-Subscribe"> <i class="icon-tag"></i> <br><small class="muted">Subscribe</small> </li>
      </ul>
    </div>
</div>

</li>