<div class="project-box">
  <div class="project-image-box">
    <%= avatar_link(project, class: 'project-image-avatar') %>
  </div>
  <div class="project-detail-bar">
    <strong><span class="title"><%= link_to_project_profile(project) %></span></strong><br>
    <%= avatar_link(project.owner, type: 'thumb', class: 'project-owner-avatar') %>
    <%= link_to_user_profile(project.owner) %><br>
    <div class="project-description">
      <span><%= project.description %></span>
    </div>
  </div>
  <div class="project-action-bar-splitter"></div>
  <div class="project-action-panel">
    <ul class="inline">
      <li class="project-members"> <strong><%= 1+project.collaborations.size %></strong> <br><small>Members</small> </li>
      <li class="project-subscribers"> <strong><%= project.subscriptions.size %></strong> <br><small>Subscribers</small> </li>
      <li class="project-Subscribe"> <i class="icon-tag"></i> <br><small>Subscribe</small> </li>
    </ul>
  </div>
</div>