<%= form_for(@project) do |f| %>
  <%= render 'errors' %>
  <fieldset>
    <legend>Edit project details</legend>

		<div class="row">
	    <div class="well span9">
		    <div class="row-fluid">
			    <div class="span8">
			      <%= f.label :name, "Name" %>
			      <%= f.text_field :name, autocomplete: :off, :placeholder=>"Project Name" %>
		      </div>
			    <div class="span4">
			      <%= f.label :category, "Category" %>
			      <%= f.select(:category,
                options_for_select(Project.categories,@project.cat)) %>
			    </div>
	      </div>
	      <%= f.label :description, "Description" %>
	      <%= f.text_area :description, :placeholder=>"Project Description", rows: 6 %>
	    </div>
			<div class="span2">
				<%= avatar_tag(@project, class: 'img-polaroid', id: 'avatar') %>
				<%= hidden_field_tag('avatar[image_id]', @avatar_image.nil? ? '' : @avatar_image.id) %>
				<%#= gallery_image_tag(@avatar_image, class: 'img-polaroid', id: 'avatar') %>
				<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">
          Change Avatar
        </a>						
			</div>
		</div>

		<div class="well">
		  <%= f.label :tag_list, "Tags (separated by commas)" %>
		  <%= f.text_field :tag_list, autocomplete: :off, :placeholder=>"Project Tag"%>
		</div>

    <%=f.submit "Submit Changes", class: "btn btn-primary" %>
  </fieldset>
<% end %>

