<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Enter project details</legend>
  <div class="row">
    <%= f.label :name %><br>
    <%= f.text_field :name, autocomplete: :off %>
  </div>
  
  <div class="row">
    <%= f.label :category %><br>
    <%= f.select(:category, Project::CATEGORIES) %>
  </div>
  
  <div class="row">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
  <div class="row">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list, autocomplete: :off %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
