 <h2>PROJECTS</h2>

<ul class="nav nav-pills">
  <li class="<%= 'active' if category_selected?('all') %>"><%= link_to 'All', projects_path %></li>
  <% Project.categories.each do |cat| %>
    <li class="<%= 'active' if category_selected?(cat) %>"><%= link_to cat, cat_path(cat) %></li>
  <% end %>
</ul>

<%= render partial: 'projects/list', locals: {projects: @projects}%>
