<div class="heading-div">
    <span class="heading">PROJECTS</span>

    <div class="heading-buttons">
           <button class="orange">New Project</button>

    </div>

</div>

<%= render 'layouts/searchbar' %>

<ul class="nav nav-pills project-tab">
  <li class="<%= 'active' if category_selected?('all') %>"><%= link_to 'All', projects_path %></li>
  <% Project.categories.each do |cat| %>
    <li class="<%= 'active' if category_selected?(cat) %>"><%= link_to cat, cat_path(cat) %></li>
  <% end %>
</ul>

<div class="projects-container">

    <% @projects.each do |project| %>
      <div class="project-box">
        <div class="project-image-box">
          <img src="http://png.findicons.com/files/icons/1035/human_o2/128/orange_folder.png" />
        </div>
        <div>
          <%= project.name %>
        </div>
        <div class="project-description">
          <%= project.category.capitalize %>
          <%= project.description %>
        </div>

          <div class="project-action-panel">
            <i class="icon-eye-open"></i>         <%= link_to 'View Profile', project.profile %>

            <i class="icon-user"></i><%= link_to 'Edit', edit_project_path(project) %>
            <i class="icon-pencil"></i>   <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <i class="icon-trash"></i>

          </div>
        </div>
    <% end %>
</div>
