<h1>PROJECTS</h1>

<ul class="nav nav-pills">
  <li class="<%= 'active' if category_selected?('all') %>"><%= link_to 'All', projects_path %></li>
  <% Project.categories.each do |cat| %>
    <li class="<%= 'active' if category_selected?(cat) %>"><%= link_to cat, cat_path(cat) %></li>
  <% end %>
</ul>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.category.capitalize %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td>Tags:</td> 
        <td colspan="5"><%= raw project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
