<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.capitalize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owned by:</strong>
  <%= @project.owner.username %>
</p>

<%= link_to 'View Profile', @project.profile %>
