<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.capitalize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owned by:</strong>
  <%= link_to @project.owner.username, user_path(@project.owner) %>
</p>

<p>
<strong>Collaborations: <%= link_to 'Show', project_collaborations_path(@project) %></strong>
</p>

<p>
<strong>Task groups: <%= link_to 'Show', project_task_groups_path(@project) %></strong>
</p>

<%= link_to 'Apply', new_project_collaboration_application_path(@project) %> |
<%= link_to 'Show Comments', project_comments_path(@project) %> | 
<%= link_to 'Back', projects_path %>
