<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
<strong>Collaborations:</strong>
<% @project.collaborations.each do |collab| %>
  <br>
  Role: <%= collab.role %>, Username: <%= collab.user.username %> 
<% end %>
</p>

<p>
<strong>Applications:</strong>
<% @project.applications.each do |application| %>
  <br>
  Applicant: <%= application.user.username %> |
  <%= link_to 'Details', collaboration_application_path(application) %>
<% end %>
</p>

<%= link_to 'Apply', apply_to_project_path(@project), method: :post %> |
<%= link_to 'Back', projects_path %>
