<!-- Collaboration Application Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Choose an image from your gallery</h3>
  </div>

  <div class="modal-body" id="gallery">
		  <ul class="nav nav-pills">
				<% gallery.images.each_with_index do |image,index| %>
				<li class="<%= 'active' if image==@avatar_image %>">
				  <a><%= gallery_image_tag(image,class: 'img-polaroid') %></a>
					<%= hidden_field_tag "image_#{image.id}", image.id %>
				</li>
				<% end %>
			</ul>
  </div>

  <div class="modal-footer">
		<div style="float:left;">
		  <h4 style="float:left;">Or upload an image</h4><br/>
		  <%= form_tag(gallery_upload_path(gallery),
		               method: :post,remote: true,multipart: true) do %>
		    <%= token_tag form_authenticity_token %>
			  <%= file_field_tag :image %>
			  <%= submit_tag 'Upload' %>
			<% end %>
		</div>
    <button class="btn btn-success" id="avatar-confirm" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>

<script>
$(function(){
	$('#avatar-confirm').click(function(){
		var $active = $('#gallery').find('.active');
		if ($active.length) {
			var src = $active.find('img').attr('src');
			var id = $active.find('input[type=hidden]').val();
			var image_id = document.getElementById('avatar_image_id');
			image_id.value = id;
			$('#avatar').attr('src',src);
	  }
	});
	
	$(document).on('click','#gallery li',function(){
		$('#gallery').find('.active').removeClass('active');
		$(this).addClass('active');
	});
});
</script>
