<h1>Listing collaborations</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>User</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collaborations.each do |collaboration| %>
      <tr>
        <td><%= collaboration.role %></td>
        <td><%= collaboration.user.username %></td>
        <td><%= collaboration.project.name %></td>
        <td><%= link_to 'Show', collaboration %></td>
        <td><%= link_to 'Edit', edit_collaboration_path(collaboration) %></td>
        <td><%= link_to 'Destroy', collaboration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>