<p>
  <strong>Role:</strong>
  <%= @collaboration.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @collaboration.user.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @collaboration.project.name %>
</p>

<%= link_to 'Edit', edit_collaboration_path(@collaboration) %> |
<%= link_to 'Back', project_collaborations_path(@collaboration.project) %>
