<%= render partial: 'errors', object: @application.errors %>

<div class="row-fluid" style="text-align: center">
<%= form_for(@application, :html => {:class => 'form-inline'}) do |f| %>
  <%= f.hidden_field :status, value: CollaborationApplication::STATUS_ACCEPTED %>    
  <%= f.submit 'Accept', class: 'btn orange' %>  
<% end %>

<%= form_for(@application, :html => {:class => 'form-inline'}) do |f| %>
  <%= f.hidden_field :status, value: CollaborationApplication::STATUS_DECLINED %>    
  <%= f.submit 'Decline', class: 'btn' %>  
<% end %>
</div>