<%= form_for(@collaboration_application) do |f| %>
  <% if @collaboration_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collaboration_application.errors.count, "error") %> prohibited this collaboration_application from being saved:</h2>

      <ul>
      <% @collaboration_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :message %>
    <%= f.text_area :message %>    
  </div>
  
  <%= f.hidden_field :project_id %>    
  
  <div class="actions">
    <%= f.submit 'Apply' %>
  </div>
<% end %>
