<%= form_for(@application) do |f| %>
  <%= render partial: 'errors', object: @application.errors %>

  <div class="row-fluid">
    <%= f.label :message %>
    <%= f.text_area :message %>    
  </div>
  
  <%= f.hidden_field :project_id %>    
  
  <div class="actions">
    <%= f.submit 'Apply' %>
  </div>
<% end %>
