<h1>Listing collaboration_applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Status</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collaboration_applications.each do |collaboration_application| %>
      <tr>
        <td><%= collaboration_application.user.username %></td>
        <td><%= collaboration_application.project.name %></td>
        <td><%= collaboration_application.status %></td>
        <td><%= collaboration_application.active %></td>
        <td><%= link_to 'Show', collaboration_application %></td>
    <% end %>
  </tbody>
</table>
