<p>
  <strong>User:</strong>
  <%= @collaboration_application.applicant.username %>
</p>

<p>
  <strong>Project:</strong>
  <%= @collaboration_application.project.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @collaboration_application.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @collaboration_application.message %>
</p>

<%= render partial: 'decide' %>
<%= link_to 'Back', user_collaboration_applications_path(@collaboration_application.applicant) %>
