<div class="well well-small">
	<div style="text-align:center;">
		<h4>Application for <%= link_to_project_profile(@application.project) %></h4>
	</div>  
<p>
  <strong>User:</strong>
  <%= @application.applicant.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Message:</strong>
  <%= @application.message %>
</p>

<%= render partial: 'decide' %>
</div>
