<% content_for :content do %>

<div class="row">
  <div class="project-dashboard span10">
    <div class="row-fluid">	        
	    <div class="span3">
		    <%= avatar_tag(associated_project) %>
		  </div>		
      <div class="span9">
	      <h1><%= associated_project.name %></h1>
  		  <ul class="nav nav-pills">
					<li><%= link_to image_tag('tiles/Outlook.png'), associated_project.profile %></li>
					<li><%= link_to image_tag('tiles/OneNote.png'), project_news_posts_path(associated_project) %></li>
					<li><%= link_to image_tag('tiles/PowerPoint.png'), project_comments_path(associated_project) %></li>
					<li><%= link_to image_tag('tiles/Lync.png'), nil %></li>
			  </ul>
		  </div>
    </div>

    <div class="row-fluid">
	    <div class="row-fluid span3">
	      <div class="span7">
		      <div class="row-fluid">
	          <%= pluralize(associated_project.subscriptions.size, 'Subscriber') %>
	        </div>
		      <div class="row-fluid">
	          <%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn orange' %>
          </div>
		      <div class="row-fluid">
            <%= form_tag({controller: 'subscriptions', action: 'create'}, style:'display:inline;') do %>
              <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
              <%= submit_tag 'Subscribe', class: 'btn orange' %>
            <% end %>
          </div>
		      <div class="row-fluid">
            <%= link_to 'Settings', edit_project_path(associated_project), class: 'btn orange'%>
          </div>
	      </div>
	      <div class="span5">
				  <ul class="nav nav-pills">
					  <li><%= link_to image_tag('tiles/Access.png'), project_task_groups_path(associated_project) %></li>
					  <li><%= link_to image_tag('tiles/Excel.png'), nil %></li>
			    </ul>
		    </div>
		  </div>
		  <div class="span9">
        <div class="project-dashboard-content">
          <%= yield(:project_profiles_header_content) if content_for?(:project_profiles_header_content) %>
        </div>
      </div>
    </div>

		<div class="row project-profile-content">
		  <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
		</div>
  </div>

  <div class="span2">
	  <h4>Members</h4>
	  <h5><%= avatar_link(associated_project.owner, type: 'thumb', style:'width: 40px;') %>
	  <%= link_to_user_profile(associated_project.owner) %></h5>
	  <% associated_project.collaborators.each do |c| %>
	    <h5><%= avatar_link(c, type: 'thumb', style:'width: 40px;') %>
	    <%= link_to_user_profile(c) %></h5>
	  <% end %>
	  <h4>Last Active</h4>
	  September 21st, 2013
	  <h4>Recent Activities</h4>
	  <% associated_project.activity_feed.activities.each do |a| %>
	    <span style="color: red;"><%= a.species %>:</span>
	    <p><%= activity_headline(a) %></p>
	  <% end %>
	  <h4>Related Projects</h4>	
	</div>
</div>


    <!--

    <div class="project-tabs">
      <ul class="nav nav-pills project-tab">
        <li class="<%= profile_tab_class('project_profiles') %>"><%= link_to 'Details', project_details_path(associated_project.profile) %></li>
        <li class="<%= profile_tab_class('news_posts') %>"><%= link_to 'News', project_news_posts_path(associated_project) %></li>
        <li class="<%= profile_tab_class('project_collaboration_info') %>"><%= link_to 'Collaborations', project_collaborations_path(associated_project) %></li>
        <li class="<%= profile_tab_class('comments') %>"><%= link_to 'Comments', project_comments_path(associated_project) %></li>
        <li class="<%= profile_tab_class('task_groups') %>"><%= link_to 'Tasks (private)', project_task_groups_path(associated_project) %></li>
        <li><a>Discussion Board (private)</a></li>
      </ul>-->

<% end %>

<%= render template: "layouts/application" %>
