<% content_for :content do %>

    <div class="project-title-bar">

       <div style="float: left">

         <h1>
           <img style="width: 75px" src="http://routenote.com/blog/wp-content/uploads/2009/11/spotify-logo.png" />
           <%= associated_project.name %></h1>
         <h6>
           By: Eric Webster
         </h6>

       </div>


      <div style="float: right">
        <div class="logo-bottom">
          <% if user_signed_in? %>

          <% end %>
          <%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn orange' %>
          <%= form_tag({controller: 'subscriptions', action: 'create'}, method: 'post', style:'display:inline;') do %>
              <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
              <%= submit_tag 'Subscribe', class: 'btn orange' %>
          <% end %>
          <b><%#= pluralize(associated_project.subscriptions.size, 'Subscriber') %></b>
        </div>
      </div>



    </div>

    <!---
    <div class="project-top-bar" style="clear: both">
      <div class="project-logo-div box">

        <div class="image-div">

          <img class="project-logo" src="http://adyaraj.com/images/project.jpg"/>
        </div>



        <div class="logo-bottom">
          <% if user_signed_in? %>

          <% end %>
          <%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn orange' %>
          <%= form_tag({controller: 'subscriptions', action: 'create'}, method: 'post', style:'display:inline;') do %>
              <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
              <%= submit_tag 'Subscribe', class: 'btn orange' %>
          <% end %>
          <b><%= pluralize(associated_project.subscriptions.size, 'Subscriber') %></b>
        </div>



      </div>
    </div>



     <div class="project-info-box box">
         <div class="info-row">
            <div class="info-heading">
              Project Owner:
            </div>

            <div class="info-content">
              Eric Webster
            </div>

         </div>

           <div class="info-row">
             <div class="info-heading">
               Project Description:
             </div>

             <div class="info-content">
               This Project is an online collaboration tool which allow users to connect from all over the
               world. It lets people create tool project and display it in the world wide web.
             </div>

           </div>

       <div class="info-row">
         <div class="info-heading">
           Start Date:
         </div>

         <div class="info-content">
           September 1, 2013
         </div>

       </div>






     </div>
     //-->

    <!--

    <div class="well well-small box" style="clear:both">

      <b><%= associated_project.name %></b>
      <% if user_signed_in? %>
        <% if current_user == associated_project.owner %>
          <span style="color:orange;">(your project)</span>
        <% end %>
      <% end %>
			<%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn' %>
			<%= form_tag({controller: 'subscriptions', action: 'create'}, method: 'post', style:'display:inline;') do %>
			  <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
			  <%= submit_tag 'Subscribe', class: 'btn' %>
			<% end %>
			<b><%= pluralize(associated_project.subscriptions.size, 'Subscriber') %></b>
    </div>

    //-->

    <div class="project-tabs">

        <ul class="nav nav-pills project-tab">
          <li class="<%= profile_tab_class('project_profiles') %>"><%= link_to 'About', project_about_path(associated_project.profile) %></li>
          <li class="<%= profile_tab_class('news_posts') %>"><%= link_to 'News', associated_project.profile %></li>
          <li class="<%= profile_tab_class('project_collaboration_info') %>"><%= link_to 'Collaborations', project_collaborations_path(associated_project) %></li>
          <li class="<%= profile_tab_class('comments') %>"><%= link_to 'Comments', project_comments_path(associated_project) %></li>
          <li class="<%= profile_tab_class('task_groups') %>"><%= link_to 'Tasks (private)', project_task_groups_path(associated_project) %></li>
          <li><a>Ideas (private)</a></li>
          <li><a>Discussion Board (private)</a></li>

        </ul>

        <div class="projects-container">
          <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
        </div>

    </div>


<% end %>

<%= render template: "layouts/application" %>
