<% content_for :content do %>

<div class="row">
  <div class="span9">
	  <div class="row-fluid">
		  <div class="span9">
		    <h1><%= associated_project.name %></h1>
		  </div>
		  <div class="span3">
			  <%= form_tag({controller: 'subscriptions', action: 'create'}, id:'subscribe-form') do %>
	        <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
	        <%= submit_tag 'Subscribe', class: 'btn btn-small' %>
	      <% end %>
	      <a href="#myModal" role="button" class="btn btn-small" data-toggle="modal">
          Apply
        </a>
      </div>
		</div>
		<div class="subnav">
		  <ul class="nav nav-pills">
		    <li><%=link_to_project_profile(associated_project,'Details')%></li>
		    <li><%= link_to 'News', project_news_posts_path(associated_project) %></li>
			  <li><%= link_to 'Comments', project_comments_path(associated_project) %></li>
		    <li><%= link_to 'Gallery', gallery_path(associated_project.gallery) %></li>
		    <li><%= link_to 'Tasks', project_tasks_path(associated_project), class: 'btn-warning'%></li>
		    <li class="pull-right"><%= link_to 'Settings', edit_project_path(associated_project), class: 'btn-success'%></li>
		  </ul>
		</div>
		<div class="header-splitter"></div>
    
		<%= yield(:project_profiles_header_content) if content_for?(:project_profiles_header_content) %>
    <div class="header-splitter-thin"></div>

	  <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
	</div>
	<div class="span3">
    <%= avatar_tag(associated_project) %>
		<h4>Members</h4>
	  <h5><%= avatar_link(associated_project.owner, type: 'thumb', class: 'avatar-thumb') %>
	  <%= link_to_user_profile(associated_project.owner) %></h5>
	  <% associated_project.collaborators.each do |c| %>
	    <h5><%= avatar_link(c, type: 'thumb', class: 'avatar-thumb') %>
	    <%= link_to_user_profile(c) %></h5>
	  <% end %>
	  <h4>Last Active</h4>
	  September 21st, 2013
	  <h4>Recent Activities</h4>
	  <% associated_project.activity_feed.activities.each do |a| %>
	    <span style="color: red;"><%= a.species %>:</span>
	    <p><%= activity_headline(a) %></p>
	  <% end %>
	  <h4>Related Projects</h4>
	</div>
</div>

<!-- Collaboration Application Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_tag collaboration_applications_path, method: "post" do |f| %>
  <%= hidden_field_tag :project_id, associated_project.id %>
	
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Apply to work on <%= associated_project.name %>!</h3>
  </div>

  <div class="modal-body">
    <div class="row-fluid">
		  <%= label_tag :message %>
		  <%= text_area_tag :message %>    
		</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= submit_tag 'Apply', class: 'btn btn-primary' %>
  </div>
	<% end %>
</div>

<% end %>

<%= render template: "layouts/application" %>
