<% content_for :content do %>
  <div class="row">
    <div class="span6 well well-small">
      <b><%= associated_project.name %></b>
      <% if current_user == associated_project.owner %>
        <span style="color:orange;">(your project)</span>
      <% end %>
			<%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn' %>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li class="<%= 'active' if params[:controller] == 'project_profiles'%>"><%= link_to 'Feed (wall)', associated_project.profile %></li>
    <li class="<%= 'active' if params[:controller] == 'task_groups'%>"><%= link_to 'Tasks (private)', project_task_groups_path(associated_project) %></li>
    <li><a>Blog (private)</a></li>
    <li class="<%= 'active' if params[:controller] == 'project_collaboration_info'%>"><%= link_to 'Collaborations', project_collaborations_path(associated_project) %></li>
    <li><a>Discussion</a></li>
    <li class="<%= 'active' if params[:controller] == 'comments'%>"><%= link_to 'Comments', project_comments_path(associated_project) %></li>
  </ul>
  <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>
