<% content_for :content do %>

<div class="row project-profile">

  <div class="span9">
	  <div class="project-header">
      <div class="row-fluid">	        
	      <div class="span3" id="avatar">
		      <%= avatar_tag(associated_project) %>
		    </div>		
        <div class="span9">
	        <h1><%= associated_project.name %></h1>
  		    <ul class="nav nav-pills">
					  <li><%= link_to_project_profile(associated_project,image_tag('tiles/details.png'))
					%></li>
					  <li><%= link_to image_tag('tiles/news.png'), project_news_posts_path(associated_project) %></li>
					  <li><%= link_to image_tag('tiles/gallery.png'), nil %></li>
			    </ul>
		    </div>
      </div>

      <div class="row-fluid">
	      <div class="span3">
	        <div class="span7">
		        <div class="row-fluid">
	            <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">
								Apply
							</a>
            </div>
			      <div class="row-fluid">
	            <%= form_tag({controller: 'subscriptions', action: 'create'}, style:'display:inline;') do %>
	              <%= hidden_field_tag :feed_id, associated_project.activity_feed.id %>
	              <%= submit_tag 'Subscribe', class: 'btn btn-info' %>
	            <% end %>
	          </div>
	          <div class="row-fluid">
		          <%= link_to 'Settings', edit_project_path(associated_project), class: 'btn btn-danger'%>
            </div>
	        </div>
	        <div class="span5">
				    <ul class="nav nav-pills">
					    <li><%= link_to image_tag('tiles/tasks.png'), project_tasks_path(associated_project) %></li>
					    <li><%= link_to image_tag('tiles/discussion.png'), nil %></li>
			      </ul>
		      </div>
		    </div>
		    <div class="span9">
          <div class="project-header-content">
            <%= yield(:project_profiles_header_content) if content_for?(:project_profiles_header_content) %>
          </div>
        </div>
      </div>
    </div>
		<div class="project-profile-content">
		  <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
		</div>
  </div>

  <div class="span3 project-sidebar">
	  <h4>Members</h4>
	  <h5><%= avatar_link(associated_project.owner, type: 'thumb', class: 'avatar-thumb') %>
	  <%= link_to_user_profile(associated_project.owner) %></h5>
	  <% associated_project.collaborators.each do |c| %>
	    <h5><%= avatar_link(c, type: 'thumb', class: 'avatar-thumb') %>
	    <%= link_to_user_profile(c) %></h5>
	  <% end %>
	  <h4>Recent Comments</h4>
	  <%= render partial: 'comments/list' , locals: {comments: associated_project.comments }%>
	  <%= link_to 'View all comments', project_comments_path(associated_project) %>
	  <h4>Last Active</h4>
	  September 21st, 2013
	  <h4>Recent Activities</h4>
	  <% associated_project.activity_feed.activities.each do |a| %>
	    <span style="color: red;"><%= a.species %>:</span>
	    <p><%= activity_headline(a) %></p>
	  <% end %>
	  <h4>Related Projects</h4>
	</div>
</div>

<!-- Collaboration Application Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_tag collaboration_applications_path, method: "post" do |f| %>
  <%= hidden_field_tag :project_id, associated_project.id %>
	
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Apply to work on <%= associated_project.name %>!</h3>
  </div>

  <div class="modal-body">
    <div class="row-fluid">
		  <%= label_tag :message %>
		  <%= text_area_tag :message %>    
		</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= submit_tag 'Apply', class: 'btn btn-primary' %>
  </div>
	<% end %>
</div>

<% end %>

<%= render template: "layouts/application" %>
