<% content_for :content do %>
    <div class="well well-small box">
      <b><%= associated_project.name %></b>
      <% if current_user == associated_project.owner %>
        <span style="color:orange;">(your project)</span>
      <% end %>
			<%= link_to 'Apply', new_project_collaboration_application_path(associated_project), class: 'btn' %>
    </div>

		<div class="scroll-splitter"></div>

  <ul class="nav nav-pills">
	  <li class="<%= 'active' if params[:action] == 'about'%>"><%= link_to 'About', project_about_path(associated_project.profile) %></li>
    <li class="<%= 'active' if params[:controller] == 'news_posts'%>"><%= link_to 'News', associated_project.profile %></li>
    <li class="<%= 'active' if params[:controller] == 'project_collaboration_info'%>"><%= link_to 'Collaborations', project_collaborations_path(associated_project) %></li>
    <li class="<%= 'active' if params[:controller] == 'comments'%>"><%= link_to 'Comments', project_comments_path(associated_project) %></li>
    <li class="<%= 'active' if params[:controller] == 'task_groups'%>"><%= link_to 'Tasks (private)', project_task_groups_path(associated_project) %></li>
    <li><a>Ideas (private)</a></li>
    <li><a>Discussion Board (private)</a></li>
  </ul>

	<div class="scroll-splitter"></div>

  <%= content_for?(:project_profiles_content) ? yield(:project_profiles_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>
