<% content_for :project_profiles_header_content do %>
  <div class="row-fluid">
    <div class="span3">
      <h5>Project owner</h5>
      <%= avatar_link(associated_project.owner, type: 'thumb', class: 'avatar-thumb') %> 
      <%= link_to_user_profile(associated_project.owner) %>
      <h5>Category</h5><%= associated_project.category.capitalize %>
    </div>
    <div class="span9">
      <h5>Description</h5>
      <%= associated_project.description %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/project_profiles" %>
