<% content_for :user_profiles_content do %>
<p>
  <%= link_to 'Back to profile', associated_user.profile, class: 'btn white' %>
</p>

  <ul class="nav nav-tabs">
	  <li class="<%= 'active' if params[:action] == 'projects' %>">
      <%= link_to 'Projects', user_projects_path(associated_user) %>
    </li>
    <li class="<%= 'active' if params[:action] == 'collaborations' %>">
      <%= link_to 'Collaborations', user_collaborations_path(associated_user) %>
    </li>
    <li class="<%= 'active' if params[:action] == 'invitations' %>">
      <%= link_to 'Invitations', user_collaboration_invitations_path(associated_user) %>
    </li>
    <li class="<%= 'active' if params[:action] == 'applications' %>">
      <%= link_to 'Applications', user_collaboration_applications_path(associated_user) %>
    </li>
  </ul>
  <%= content_for?(:user_collaboration_info_content) ? yield(:user_collaboration_info_content) : yield %>
<% end %>
<%= render template: "layouts/user_profiles" %>