<% content_for :content do %>

<div class="container-fluid">
	<div class="row-fluid">

    <div class="box well well-small">

      <div class="row-fluid">
        <div class="span3">
          <b><%= associated_user.username %></b>
          <% if current_user == associated_user %>
              <span style="color:orange;">(you)</span>
          <% end %>
        </div>

        <div class="pull-right">
          <div class="btn-group">
            <button class="btn btn-small"><%= link_to "Edit Profile", edit_user_profile_path(current_user) %></button>
            <button class="btn btn-small"><%= link_to "Projects", user_projects_path(associated_user)  %></button>
            <button class="btn btn-small">Right</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
		  <%= content_for?(:user_profiles_content) ? yield(:user_profiles_content) : yield %>
    </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
