<% content_for :content do %>
  <div class="profile-row">
    <div class="avatar-div">
      <img src="http://0.gravatar.com/avatar/c9941e8b637a76ab683e9d235ccb135d?s=40&d=http%3A%2F%2Fgogreenplus.org%2Fwp-content%2Fthemes%2Ftwentyten%2Fimages%2Fnutsboltsimages%2Fdefaults%2Favatar_220sq.png&r=G" class="img-polaroid box" id="user_avatar">


      <div class="user-name">
        <%= associated_user.username %>
      </div>




      <div class="" id="card">


        <%= render partial: 'user_profiles/contact', locals: {contact: associated_user.profile.card} %>
      </div>




      <div class="action-bar">

              <%= link_to 'Follow', new_user_collaboration_invitation_path(associated_user), :class=>"" %>

              <%= link_to 'Message', new_user_collaboration_invitation_path(associated_user), :class=>"user-action" %>

              <%= link_to 'Invite', new_user_collaboration_invitation_path(associated_user), :class=>"user-action" %>

      </div>
    </div>

    <div class="user-tab-wrapper">

      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs user-tabs">
          <li class="<%= profile_tab_class('user_profiles') %>"><a href="#tab1" data-toggle="tab">Feed</a></li>
          <li class="<%= profile_tab_class('resume') %>"><%= link_to 'Resume', resume_path(associated_user.profile) %></li>
          <li class="<%= tab_class('projects') %>"><%= link_to 'Projects', user_projects_path(associated_user) %></li>
          <li class="<%= tab_class('collaborations') %>"><%= link_to 'Collaborations', user_collaborations_path(associated_user) %></li>
          <li class="<%= tab_class('index') %>">
            <%= link_to 'Subscriptions', user_subscriptions_path(associated_user) %>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          </div>
          <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
          </div>
          <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
          </div>
        </div>
      </div>

      <div class="user-tab-content">

        <%= content_for?(:user_profiles_content) ? yield(:user_profiles_content) : yield %>
      </div>

    </div>

    <!--
    //-->
    <!---
    <div class="action-bar">
      <button class="btn">Follow</button>  <br>
      <button class="btn">Message</button> <br>
      <%= link_to 'Invite', new_user_collaboration_invitation_path(associated_user), :class=>"btn" %>  <br>
    </div>

    //-->
  </div>

<% end %>
<%= render template: "layouts/application" %>
