<% content_for :content do %>
  <div>
    <div class="avatar-div">
      <%= image_tag user_avatar_url(associated_user), class: 'img-polaroid box', id: 'user_avatar' %>
      <div class="user-name"><%= associated_user.username %></div>

      <div id="card">
        <%= render partial: 'user_profiles/contact', locals: {contact: associated_user.profile.card} %>
      </div>
      <div class="action-bar">
        <%= link_to 'Message', new_user_collaboration_invitation_path(associated_user), :class=>"user-action" %>
        <%= link_to 'Invite', new_user_collaboration_invitation_path(associated_user), :class=>"user-action" %>
        <%= link_to 'Follow', new_user_collaboration_invitation_path(associated_user), :class=>"user-action" %>
      </div>
    </div>
    <div class="user-tab-wrapper">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs user-tabs">
          <li class="<%= profile_tab_class('user_profiles') %>"><a href="#tab1" data-toggle="tab">Feed</a></li>
          <li class="<%= profile_tab_class('resume') %>"><%= link_to 'Resume', resume_path(associated_user.profile) %></li>
          <li class="<%= tab_class('projects') %>"><%= link_to 'Projects', user_projects_path(associated_user) %></li>
          <li class="<%= tab_class('collaborations') %>"><%= link_to 'Collaborations', user_collaborations_path(associated_user) %></li>
          <li class="<%= tab_class('index') %>"><%= link_to 'Subscriptions', user_subscriptions_path(associated_user) %></li>
        </ul>
      </div>
      <div class="user-tab-content">
        <%= content_for?(:user_profiles_content) ? yield(:user_profiles_content) : yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
