<% content_for :content do %>

<div class="container-fluid">
	<div class="row-fluid">
    <div class="well well-small">
      <b><%= user.username %></b>
      <% if current_user == user %>
        <span style="color:orange;">(you)</span>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
		  <%= content_for?(:user_profiles_content) ? yield(:user_profiles_content) : yield %>
    </div>
  
    <div class="span2">
      <div class="well well-small sidebar-nav pull-right">
        <ul class="nav nav-list">
          <li><%= link_to 'Feed (wall)', profile %></li>	        
          <li><%= link_to 'Projects', user_projects_path(user) %></li>
          <li><%= link_to 'Resume', resume_path(profile) %></li>
          <li><%= link_to 'Invite me', new_user_collaboration_invitation_path(user) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
