<% content_for :content do %>

		<div class="box well well-small">
			<div class="row-fluid"> 
				<button style="border:none;background:none;">       
        <b><%= associated_user.username %></b>
          <% if current_user == associated_user %>
            <span style="color:orange;">(you)</span>
          <% end %>
        </button>
        <div class="btn-group" style="float:right;">
          <button class="btn btn-small">
            <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
          </button>
          <button class="btn btn-small">
            <%= link_to "Projects", user_projects_path(associated_user)  %>
          </button>
          <button class="btn btn-small">Right</button>
        </div>
      </div>
    </div>

		<%= content_for?(:user_profiles_content) ? yield(:user_profiles_content) : yield %>

<% end %>
<%= render template: "layouts/application" %>
